<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Educasis</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/ContenidoPrincipal.css">
    <link rel="stylesheet" href="~/css/MenuPoligono.css">
    <link rel="stylesheet" href="~/css/multimedia.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
    <script type="text/x-mathjax-config">
       MathJax.Hub.Config({
          tex2jax: { inlineMath: [["$","$"],["\\(","\\)"]] },
          "HTML-CSS": {
            linebreaks: { automatic: true, width: "container" }          
          }              
       });
    </script>
</head>
<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo4.png" alt="logo">
                </a>
                <nav class="navegacion">
                    <a asp-controller="Home" asp-action="Limits">Limits</a>
                    <a asp-controller="Home" asp-action="LimitsPractice">Limits Practice</a>
                    <a asp-controller="Home" asp-action="Integrals">Integrals</a>
                    <a asp-controller="Home" asp-action="ED">ED</a>
                    <a asp-controller="Home" asp-action="Phisics">Physics</a>
                    <a asp-controller="Home" asp-action="Electronic">Electronic</a>
                    <a asp-controller="Home" asp-action="Vote">Rate us</a>
                </nav>
            </div>
        </div>
        <!--contenedor-->
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a asp-controller="Home" asp-action="Limits">Limits</a>
                <a asp-controller="Home" asp-action="Limits">Integrals</a>
                <a asp-controller="Home" asp-action="Phisics">Physics</a>
                <a asp-controller="Home" asp-action="Electronic">Electronic</a>
            </nav>
            <p class="copyright">All rights reserv 2020 &copy</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
