/* _content/Educasis/Views/Shared/_Index.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-2worbm2eli] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-2worbm2eli] {
  color: #0077cc;
}

.btn-primary[b-2worbm2eli] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-2worbm2eli], .nav-pills .show > .nav-link[b-2worbm2eli] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-2worbm2eli] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-2worbm2eli] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-2worbm2eli] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-2worbm2eli] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-2worbm2eli] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Educasis/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nwhptdx393] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-nwhptdx393] {
  color: #0077cc;
}

.btn-primary[b-nwhptdx393] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nwhptdx393], .nav-pills .show > .nav-link[b-nwhptdx393] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nwhptdx393] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nwhptdx393] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nwhptdx393] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nwhptdx393] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-nwhptdx393] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Educasis/Views/Shared/_Layout2.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nm687983n0] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-nm687983n0] {
  color: #0077cc;
}

.btn-primary[b-nm687983n0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nm687983n0], .nav-pills .show > .nav-link[b-nm687983n0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nm687983n0] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nm687983n0] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nm687983n0] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nm687983n0] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-nm687983n0] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Educasis/Views/Shared/_Layout3.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-mrqhhk76r1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-mrqhhk76r1] {
  color: #0077cc;
}

.btn-primary[b-mrqhhk76r1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-mrqhhk76r1], .nav-pills .show > .nav-link[b-mrqhhk76r1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-mrqhhk76r1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-mrqhhk76r1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-mrqhhk76r1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-mrqhhk76r1] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-mrqhhk76r1] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Educasis/Views/Shared/_Layout4.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-hg9ifjupt4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-hg9ifjupt4] {
  color: #0077cc;
}

.btn-primary[b-hg9ifjupt4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-hg9ifjupt4], .nav-pills .show > .nav-link[b-hg9ifjupt4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-hg9ifjupt4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-hg9ifjupt4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-hg9ifjupt4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-hg9ifjupt4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-hg9ifjupt4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Educasis/Views/Shared/_Layout5.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-t9mz9hhrwb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-t9mz9hhrwb] {
  color: #0077cc;
}

.btn-primary[b-t9mz9hhrwb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-t9mz9hhrwb], .nav-pills .show > .nav-link[b-t9mz9hhrwb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-t9mz9hhrwb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-t9mz9hhrwb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-t9mz9hhrwb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-t9mz9hhrwb] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-t9mz9hhrwb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
