@{
    ViewData["Title"] = "Limits";
    Layout = "_Layout3";
}

<aside class="sidebar">
    <section class="otras-entradas">
        <h2>Index</h2>
        <nav class="indice">
            <a name="Indice">
                <ul>
                    <li><a href="#DefiniLimi">Definition of limits</a></li>
                    <li><a href="#CasoImpor">Case of importance</a></li>
                    <li><a href="#FormNumeri">Numeric form</a></li>
                    <li><a href="#CalcuLimFun">Calc the limit of a funciton in a point</a></li>
                    <li><a href="#factorizacion">Limits by factorization</a></li>
                    <li><a href="#infinito">Limits at infinite</a></li>
                </ul>
        </nav>
        </a>
        </div>
    </section>
</aside>
<section class="contenedor">
    <article class="entrada">
        <a name="#DefiniLimi">
            <div class="texto-entrada">
                <h1>What is a limit?</h1>
            </div>
            <p class="fw-mio2">
                The limit concept involve understand the behavior of a function when the independent variable
                (in this case x) is "much nearby" of a especific number that we will call "a" but without arrive
                to take this value, is say:
                "The limit of f(x) is "L" when x tends at "a",expresing this of the next form:

                \[ \lim_{x \to a}f(x) = L\]
            </p>
            <h1>Example 1:</h1>
            <p class="fw-mio2">
                \[ \lim_{x \to 1}f(x) = 2\]
                Is say, what is the height of the graph when the numbers is nearby at 1?
            </p>
            <img id="imgConcepto" src="~/img/limite 1.png" alt="No hay imagen, imagen no encontrada.">
            <h1>Example 2:</h1>
            <p class="fw-mio2">
                \[ \lim_{x \to 2}f(x+1) = 3\]
                Is say, the limit when x tends at 2 of (x+1)
            </p>
            <img id="imgConcepto" src="~/img/limite 2.png" alt="No hay imagen, imagen no encontrada.">
        </a>
        <div class="texto-entrada">
            <h2></h2>
        </div>

    </article>
    <a name="CasoImpor">
        <article class="entrada">
            <div class="texto-entrada">
                <h1>Case of importance</h1>
            </div>
            <p class="fw-mio2">
                When the values ​​are approached by left or by right, if are approached by left are denoted whit (-)
                \[ \lim_{x \to 3-}f(x) = 2\]

                At opposite if approached by right whith (+)
                \[ \lim_{x \to 3+}f(x) = 1\]
            </p>
            <img id="imgConcepto" src="~/img/limite 3.png" alt="No hay imagen, imagen no encontrada.">
            <div class="texto-entrada">
                <h1>Note Important!</h1>
            </div>
            <p class="fw-mio2">
                The limit when the function by one side are approached a one value and by other side another
                different number are determine that NO exist.
                <br>
                If by the opposite are request the limit when x tends at 4 of f(x), if can come to the answer.
            </p>
        </article>
    </a>
    </div>
    </article>
    <a name="FormNumeri">
        <article class="entrada">
            <div class="texto-entrada">
                <h1>Numeric form</h1>
            </div>
            <h3>Example 1:</h3>
            <p class="fw-mio2">
                \[ \lim_{x \to 2}(x+1)\] Replacing the x would be

                \[ \lim_{x \to 2}(2+1)=3\]
            </p>
            <div class="texto-entrada">
                <h2></h2>
            </div>
            <h1>Example 2</h1>
            <p class="fw-mio2">
                Analyzing the function:
                \[ \lim_{x \to 2}\frac{2x^2-4}{x-2}\]
            </p>

            <p class="fw-mio2">
                This function have a limitation on the dominion because when replace the x, the result is 0 on their denominator.
                <br>
                In these cases proceed to make values table, for to approached by left and by right the number
                x (2 for this example).
            </p>
            <table>
                <tr>
                    <th>X</th>
                    <td>1</td>
                    <td>1.5</td>
                    <td>1.9</td>
                    <td>1.99</td>
                    <td>2</td>
                    <td>2.01</td>
                    <td>2.1</td>
                    <td>2.5</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th>Y</th>
                    <td>2</td>
                    <td>3</td>
                    <td>3.8</td>
                    <td>3.98</td>
                    <td>4</td>
                    <td>4.02</td>
                    <td>4.2</td>
                    <td>5</td>
                    <td>6</td>
                </tr>

            </table>
            <div class="texto-entrada">
                <h2></h2>
            </div>
            <div class="texto-entrada">
                <h1>Note Important!</h1>
            </div>
            <p class="fw-mio2">
                Are analyzed functions that have problems with the dominion because always should be diferent to0.
            </p>
            <div class="texto-entrada">
                <h2></h2>
            </div>
        </article>
    </a>
    <a name="CalcuLimFun">
        <article class="entrada">
            <div class="texto-entrada">
                <h1>Calculated the limit of the onefunction on a point</h1>
            </div>
            <h3>Video of guide:</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nTaiyaoyJhw" allowfullscreen>Cargando...</iframe>
            <p class="fw-mio2">
                Are resolved by direct substitution how on the example.
            </p>
            <div class="texto-entrada">
                <h2></h2>
            </div>
            <h1>Examples:</h1>
            <p class="fw-mio2">
                \[ \lim_{x \to 2}3x+1 = 3(2)+1= 7\]
                \[ \lim_{x \to -4}2x^{2} = 2 (-4)^{2} = 32\]
                \[ \lim_{x \to 3} 5= 5\]
                (If the function is a constant the answer is the same constant).
            </p>
        </article>
        <div class="texto-entrada">
            <h2></h2>
        </div>
    </a>
    <a name="factorizacion">
        <article class="entrada">
            <div class="texto-entrada">
                <h1>Limits by factorization</h1>
            </div>
            <p class="fw-mio2">
                First it that is should be made always is remplace.
            </p>
            <h1>Note Important!</h1>
            <p class="fw-mio2">
                Are factored all what that give 0/0
                or x number / 0
                <br>
                All limits that is solve by factorization or by rationalize have one undetermination.
            </p>
            <div class="texto-entrada">
                <h2></h2>
            </div>
            <div class="texto-entrada">
                <h1>What is undetermination?</h1>
            </div>
            <p class="fw-mio2">
                Is the part of that expression that makes that said expression be worth cero.
            </p>
            <h1>Ejemplo:</h1>
            <div class="formula">
                \[ \lim_{x \to 3} \frac{x^2+2x-15}{x+3}\]
            </div>
            <p class="fw-mio2">
                The undeterminant is x+3, the denominator.
            </p>
            <div class="texto-entrada">
                <h2></h2>
            </div>
            <div class="texto-entrada">
                <h1>Factorization example:</h1>
            </div>
            <h3>Video of guide:</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/h9lEAU5-CSg" allowfullscreen>Cargando...</iframe>
            <div class="formula">
                \[ \lim_{x \to 3} \frac{x^2-9}{x-3}\]
            </div>
            <div class="formula">
                \[ \lim_{x \to 3} \frac{(x+3)(x-3)}{x-3}\]
            </div>
            <p class="fw-mio2">
                how are see in previous step, are cancel (x-3) of dominator whit the (x-3) of numerator.
                <br>
                so x + 3 remains, then x is replaced by 3
                <br>
                \[x+3 = 3+3 = 6\]
            </p>
            <div class="texto-entrada">
                <h1>Example by rationalization</h1>
            </div>
            <h3>Video of guide:</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7c4wBd2Iko8" allowfullscreen>Cargando...</iframe>
            <p class="fw-mio2">
                Are know a one problem are solve by rationalization because the result is a rational number 0, or on the denominator too give 0
                having a different real number to 0 is say indeterminate.
            </p>
            <div class="formula">
                \[ \lim_{x \to 4} \frac{x-4}{\sqrt{x}-2}\]
            </div>
            <p class="fw-mio2">
                How see on the formula, on the numerator be 2 terms, the square root (x) and the -2 .
                <br>
                meaning that are can solve the exercise by the conjugate product
                <br>
                \[(a+b)(a-b)=(a2-b2)\]
                that means doing next:
            <div class="formula">
                \[ \lim_{x \to 4} \frac{x-4}{\sqrt{x}-2}\]
            </div>
            <div class="formula">
                \[ \lim_{x \to 4} \frac{x-4(\sqrt{x}-2)}{\sqrt{x}-2(\sqrt{x}+2)}\]

            </div>
            <br>
            <p class="fw-mio2">
                now how the denominator is like the formula, the result always be =(a<sup>2</sup>-b<sup>2</sup>)
                hence the answer be:
            </p>
            <br>
            <div class="formula">
                \[ \lim_{x \to 4} \frac{x-4(\sqrt{x}+2)}{x-4}\]
            </div>
            </div>
            <p class="fw-mio2">
                if are see the x-4 be on the denominator and numerator are can cancel for leave alone(square root (x)+2) is say that left this way:
            </p>
            <div class="formula">
                \[ \lim_{x \to 4} \frac{x-4(\sqrt{x}+2)}{1}\]
            </div>
            <p class="fw-mio2">
                and to the replace stays how result 4.
            </p>
        </article>
        <div class="texto-entrada">
            <h2></h2>
        </div>
    </a>
    <a name="infinito">
        <article class="entrada">
            <div class="texto-entrada">
                <h1>Limits to infinity</h1>
            </div>
            <h3>video of guide:</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mFFOqukc-wU" allowfullscreen>Charging...</iframe>
        <p class="fw-mio2">
                The infinite are understand when the number is very big, how the number of the stars, is say so big that no can count.
        </p>
            <div class="texto-entrada">
                <h2></h2>
            </div>
            <div class="texto-entrada">
                <h1>Examples</h1>
            </div>
            <p class="fw-mio2">
            \[ \lim_{x \to \infty } = \infty\]
            \[ \lim_{x \to \infty } x^3+x^5 = \infty \]
            </p>
            <br>
            <p class="fw-mio2">
            When operated with one negative number the answer is negative.
            Is say:
            </p>
            <p class="fw-mio2">
            \[ \lim_{x \to \infty } -2x = -\infty \]
            When it is 1 / x, in a limit to the operate with infinity, that is, to the replace the x with infinite , the result is zero, but only in the limits.
            </p>
            <br>
            <div class="formula">
                \[ \lim_{x \to \infty } \frac{1}{\infty} = 0 \]
            </div>
            <p class="fw-mio2">
            Is 0 because at the hour of divide one greater number to 1, the result is increasingly nearby at 0, is say that if divide into 2 is 0.5, but if number is divided into 1 million is 0.000001, deducing whit the info previous, can say that if puts the infinite that is very big number the quantity of ceros at left is very big, the result is cero.
            when are divide any number finite or countable on infinite, is say that the divide 10 /infinite too result 0, or 80 /infinite is to infinite.
        </p>
        </article>
    </a>
</section>