@{
    ViewData["Title"] = "Phisics";
    Layout = "_Layout2";
}
<aside class="sidebar">
    <section class="otras-entradas">
        <h2>Index</h2>
        <nav class="indice">
            <a name="Indice">
                <ul>
                    <li><a href="#CasoImpor">Fundamental IS Units</a></li>
                    <li><a href="#CalcuLimFun">Derivate IS Units</a></li>
                    <li><a href="#factorizacion">Examples</a></li>
                    <li><a href="#java">Conversion of the Units</a></li>
                    <li><a href="#descargar">Go to Github link</a></li>
                    <li><a href="#movi">Armonic Move Simple (M.A.S.)</a></li>
                    <li><a href="#ondas">Wavelike Move</a></li>
                    <li><a href="#mag">Electromagnetic Physics</a></li>
                </ul>
        </nav>
        </a>
        </div>
    </section>
</aside>
<section class="contenedor">
    <article class="entrada">
        <article class="entrada">
            <h1>Introduction and Concepts</h1>
            <div class="texto-entrada">
                <h1>What is metrology?</h1>
            </div>
            <p class="fw-mio2">
            Metrology is the science of the measurement of the magnitudes to guarantee their normalization through traceability.
            </p>
        </article>
        <div class="texto-entrada">
            <h1>International System of Units - IS </h1>
        </div>
        <p class="fw-mio2">Since 1889, the definitions of the units is establish, by one international organization called ( general Conference of dumbbells and measures). Based on the sistem metric  decimal, know oficial since 1960 like SI. .
            <br>What is Units System?<br>
            Is the systemic set and organized of units adopted by convention.
        </p>
        <div class="texto-entrada">
            <h2></h2>
        </div>
    </article>
    <article class="entrada">
        <section class="contenedor">
            <article class="entrada">
                <div class="texto-entrada">
                    <h1>
                        Definitions
                    </h1>
                </div>
                <ul class="fw-mio2">
                    <li>Magnitude: all what that can be measurement.</li>
                    <li>Magnitude Fundamental: each one of the magnitudes that on one sistem, are acept by convention like funtionaly independ respect of another.</li>
                    <li>Derivate Magnitude: she that are derivated of the magnitudes fundamental and be linked through mathematic relations good definited.</li>
                    <li>Supplement Magnitude: what is added to complement.</li>
                    <li>Measurement Unit: value of a magnitude for which it was admited, by convention, that its numerical value is equal to one. (1).</li>
                    <li>
                        <span class="color-azul1">Are fixed the unit of measurement of one magnitude for make posible the quantitative comparation between diferents values of the same magnitude.</span>
                    </li>
                </ul>
            </article>
    </article>
    <a name="FormNumeri">
        <article class="entrada">
            <div class="texto-entrada">
                <h1>Fundamental IS Units</h1>
            </div>
            <img src="~/img/si.png" alt="si fundamentales">
            <ul class="fw-mio2">
                <li> <span class="color-azul1">Length (meter - m)</span> : The meter is the length of the trajectorytraveled on the empty by the light, for one time interval of
                    1/299 792 458 seconds.</li>
                <li><span class="color-azul1">Dough (kilogram -kg)</span>:The kilogram is the dough of the prototype of Platinum-Iridium, accepted by the general Conference of dumbbells and measures on 1889.</li>
                <li><span class="color-azul1">Time (Seconds -s)</span>:The second is the duration of 9 192 631 770
                periods of the radiation corresponding at the transition between the two level hyperfine of the fundamental state of the Cesium atom 133.</li>
                <li><span class="color-azul1">Electric Current (Ampere -A)</span>:The ampere is the intensity of one constant current that,maintain by two parallel conductors, straight, of infinite length, 
                of circle section contemptible and  put at one distance of one meter one to other in the empty, produc between this conductors one force equal to 2x 10-07newton per meter to length.</li>
                <li><span class="color-azul1">Termodinamic Temperature (kelvin -K)</span>:The Kelvin, unit of temperature, is the fractionn 
                1/273,16 of the temperature termodinamic of the triple point of wather.
                </li>
                <li><span class="color-azul1">Luminous Intensity (candela -cd)</span>:The Candela is the luminous intensity on one direction given, of one fountain that emit one radiation monochromatic of frequency
                540x 1012hertz and of which the intensity lies in that direction is 1/683 watt per
                    steradian. </li>
                <li><span class="color-azul1">Quantity of Matter  (Mol -mol)</span>:Quantity of Matter of one system that contain so many elementals entities like atoms there are in 0,012 kilograms of carbon 12.</li>
            </ul>
        </article>
        <div class="texto-entrada">
            <h2></h2>
        </div>
    </a>
    <a name="CalcuLimFun">
        <article class="entrada">
            <div class="texto-entrada">
                <h1>Units IS Derivatives that Not have special names</h1>
            </div>
            <img src="~/img/sid.png" alt="si derivadas">
            <div class="texto-entrada">
                <h1>Units IS Derivatives that have special names</h1>
            </div>
            <img src="~/img/sie.png" alt="si especiales">
            <div class="texto-entrada">
                <h1>Units acepted that Not belong at the IS</h1>
            </div>
            <img src="~/img/sin.png" alt="no pertenecen">
            <div class="texto-entrada">
                <h1>Units Supplementary</h1>
            </div>
            <img src="~/img/sisu.png" alt="suplementarias">
            <div class="texto-entrada">
                <h1>IS prefixes (multiples)</h1>
            </div>
            <img src="~/img/simul.png" alt="multiplos">
            <div class="texto-entrada">
                <h1>IS prefixes (submultiples)</h1>
            </div>
            <img src="~/img/sisub.png" alt="submultiplos">
        </article>
        <div class="texto-entrada">
            <h2></h2>
        </div>
    </a>
    <a name="factorizacion">
        <article class="entrada">
            <div class="texto-entrada">
                <h1>Examples</h1>
            </div>
            <img src="~/img/ejemfis.png" alt="ejemplo1">
            <img src="~/img/ejemfis2.png" alt="ejemplo2">
        </article>
        <div class="texto-entrada">
            <h2></h2>
        </div>
        <a name="infinito">
            <article class="entrada">
                <div class="texto-entrada">
                    <h1>Others Systems of Units</h1>
                </div>
                <ul class="fw-mio">
                    <li>ABSOLUTES: CGS –MKS</li>
                    <li>GRAVITATORYS: Tecnic -Terrestrial</li>
                    <li>NORTH AMERICAN OF ENGINEERING</li>
                    <li>MKSC</li>
                    <li>MKSA</li>
                    <li>PRACTIC</li>
                    <li>ENGLISH</li>
                    <li>ENGLISH TECHNICAL</li>
                    <li>BRITISH OF UNITS</li>
                    <li>PRACTICAL</li>
                    <li>GRAVITATIONAL TECHNICAL</li>
                    <li>ABSOLUT ENGLISH</li>
                    <li>BRITISH</li>
                    <li>BRITISH TECHNICAL</li>
                </ul>
            </article>
            <div class="texto-entrada">
                <h2></h2>
            </div>
        </a>
        <a name="java">
            <article class="entrada">
                <div class="texto-entrada">
                    <h1>Conversion of units using Java</h1>
                </div>
                <p class="fw-mio2">Are used the IDE Java for create one calculator of conversions of units like are next see.</p>
            </article>

            <div class="center">
                <img src="~/img/conversionapp.jpeg" alt="calculadora">
                <div class="cortar">
                </div>
            </div>
            <div class="texto-entrada">
                <h2></h2>
            </div>
</section>
<a name="descargar">
    <div class="texto-entrada">
        <a href="https://github.com/kaslack/Calculadora-de-conversiones-pdo" target="_blank">
            <h1>Download the code of the Calculator having click <span class="color-azul1">here</span></h1>
        </a>
    </div>
    <div class="texto-entrada">
        <h2></h2>
    </div>
</a>

<a name="movi">
    <div class="texto-entrada">
        <h1>Movement Armonico Simple</h1>
        <p class="fw-mio2">One particle or system have (M.A.S) when vibrate low the action of forces restorer that are proportional at the distance regard to position of equilibrium. we says that said body is one harmonic oscillator, the bodys swing or vibrate when are take aside of its equilibrium position stable.
            The characteristic  magnitudes of a oscillator movement or vibratory is:: <br>
            1. Period (T): The time that take on carry out one complete oscillation. Its unit of measurement on the International Sistem is the second (s).<br>
            2. Frequency (f):Is treat of the number of time that are repet one oscillation on one secong. his unit of measurement on the International Sistem is the Hertz(Hz).
            \[ f=\frac{1}{T}\]
        </p>
        <div class="texto-entrada">
            <h2></h2>
        </div>
        <h1>Vibrations Types</h1>
        <p>Free Oscillations: When on the body not act dissipation forces. The body not are stop,indefinitely oscillate.<br>Oscilaciones amortiguadas: Cuando actúan fuerzas disipativas (como la fuerza de rozamiento o de fricción) que acaban por hacer que las oscilaciones desaparezcan. El cuerpo acabará retornando a la posición de equilibrio.</p>
        <div class="texto-entrada">
            <h2></h2>
        </div>
        <h1>Parts of  M.A.S</h1>
        <p class="fw-mio2">Vibratory: The body oscillates regarding at one equilibrium position always on the same plane. 
        <br>Periodic: the movement are repeat each certain time denominated, period (T). Is say, the body go back to have the same magnitudes kinetics and dynamic each T seconds.
            Are described through one function sinusoidal (sine or cosine indistincty) \[x=Acos(\omega*t+\Theta )\] \[x=Asen(\omega*t+\Theta )\]</p>
        <div class="texto-entrada">
            <h2></h2>
        </div>
        <h1>Composition of the M.A.S</h1>
        <p class="fw-mio2">
            • Elongation, x: Represent the position of the particle that oscilla on function of the time and is the separation of body of the equilibrium position. his unit of measurement on the International Sistem is the meter(m).
            <br> • Spaciousness, A: Maxim Elongation. his unit of the measurement on the International Sistem is the meter (m).
            <br> • Frequency, f: The number of oscillations or vibrates that are produce on a second. His unit of measurement on the International Sistem is the Hertzio (Hz). 1 Hz = 1 oscillation / second = 1 s-1.
            <br> • Period, T: The time that take on carry out one complete oscillation. Is the inverse of frecuency T = 1/f. His unit of measurement ont he International Sistem is the one second (s).
            <br> • Angular Frecuency, w: Represent the velocity of change the moviment phase. is treat of the num of periods between 2·π seconds.His unit of measurement ont he International Sistem is the Radian per sencond (rad/s). 
            The relation between the period and frecuency is ω=2⋅πT=2⋅π⋅f
        </p>
        <div class="center">
            <img src="https://i.gifer.com/G0bh.gif" alt="https://gifer.com/en/G0bh" title="https://gifer.com/en/G0bh" id="gif">
            <h5>Recovered in 2021. Of https://i.gifer.com/G0bh.gif</h5>

        </div>
        <h3>
            Examples:
            <a href="https://www.youtube.com/watch?v=IVb6TRQqLiI" target="_blank"><span class="color-rojo">Click here</span></a>
        </h3>
        <div class="texto-entrada">
            <h2></h2>
        </div>
    </div>
</a>
<a name="ondas">
    <div class="texto-entrada">
        <h1>Moviment Undulatory</h1>
        <p class="fw-mio2">Process by the that are propagate energy of one palce at other without transfer of matter, through mecanics wave or electronagnetic.</p>
        <div class="texto-entrada">
            <h2></h2>
        </div>
        <h1>What is a wave?</h1>
        <p class="fw-mio2">Consist on the propagate of one disturbance of some property of the space, implicated one transportation of energy whitout transportation of  matter.</p>
        <div class="texto-entrada">
            <h2></h2>
        </div>
        <h1>Classification of waves</h1>
        <p class="fw-mio2">Mechanic Waves: The energy is transmit through material middle, need a middle of propagate. Don`t require a material middle for his propagate.</p>

        <div class="cortar">
            <img src="~/img/clasi.png" alt="clasificacion">
        </div>
        <h5>Recovered in 2021. Of http://cmapspublic3.ihmc.us/rid=1J98TT5H5-43SXZV-P12</h5>

        <div class="texto-entrada">
            <h2></h2>
        </div>
        <h1>Parts of wave equation</h1>
        <p class="fw-mio2">• Elongation (x): Is the distance that exist in perpendicular form, between a point of the wave and the equilibrium line.
            <br> • Crest: Is the point of maximum elongation of wave; is say, the point of wave more separated of his position of rest.
            <br> • Node: is the poin where the wave cross the equilibrium line.
            <br>• Spaciousness (A): Is the vertical distance between one crest or valley and the equilibrium point wave. Also be can wave`s exist whose spaciousness be variable, is say, it grow or it degrow whit the pass time.
            <br>• Wavelength  (lambda): Is the distance that have between the same point of two consecutive undulations, or the distance between two crest, valley o three nodes consecutivegitud de onda (oscilación completa). T = 1/f
            <br>• Frequency (f): Is the number of periods per unit of time. Is say: the number of times that are repet said vibration per unit time.
            <br>• Velocity of Spreading (v): Is the velocity of spread of the undulatory movement. Its value is the quotient of the length a wave and his period.
            V = λ/T
        </p>
        <div class="center">
            <img src="https://media.giphy.com/media/hVTf1QtXxddov4l1dZ/giphy.gif" alt="https://media.giphy.com/media/hVTf1QtXxddov4l1dZ/giphy.gif" title="https://media.giphy.com/media/hVTf1QtXxddov4l1dZ/giphy.gif">
            <h5>Recovered of media.giphy.com/media/hVTf1QtXxddov4l1dZ/giphy</h5>
        </div>
        <h3>Exercices : <a href="https://www.youtube.com/watch?v=aVRn_-1JGBc" target="_blank"><span class="color-rojo">Click Here</span></a>
        </h3>
    </div>
        <div class="texto-entrada">
        <h2></h2>
    </div>
    <a name="mag">
    <h2>Electromagnetic Physics </h2>
    <p class="fw-mio2">The electrostatic is the study of the physic that study the electricity in the matter and the effects or phenomenon generated of this electric charges.</p>
<p class="fw-mio2">Theory:
The electrostatic o the electricity estatic is a phenomenon in the surface of the objects,that is created when two or more body enter into contact for one determined time, this contact give on to a transfer of negative electrons of one atom to other,the level of electric charge is given principally by the temperature, humidity, the pressure, the type and his physics and electrical properties, and how long they last in contact these two or more elements.</p>
<p class="fw-mio2">Basically the electrostatic give explanation at the effects that is produced in the matter like consequence of his electric charges, generating attractions and repulsions between bodies.</p>
<img src="https://muchmorethaninformation.files.wordpress.com/2013/09/barra-de-ebonita.gif?w=640" title="https://lh3.googleusercontent.com/Axn5pOmQVC_wR-Htq_3RbnQketSXTERbka9bs7ZUNIs3RXCVtkE4QQbIzMVTxs1qngXcRQ=s152">
<h5>Recovered of https://www.timetoast.com/timelines/la-electricidad-7846e684-fb41-4d63-92b4-d8c88057bd5e</h5>
    <p class="fw-mio2">The most important scientific or physics are:<br>
1.	Gilbert (1540-1603) introduce the electrification like phenomenon of general character.
<br>2.	Franklin (1706-1790) introduce the idea that exist two types of electricity, positive and negative.
<br>3.	Coulomb (1736-1806) introduce a law that expressed the strength that appear between electric charges.
<br>4.	Faraday (1791-1867)  introduce the idea of the magnetic camp.
<br>5.	Maxwell (1831-1879) Established the law of the electromagnetics.</p>
    <p class="fw-mio2"> In this simulator can you see how the electromagnetic charges, electron and proton affecting the electromagnetic field.</p>
    <iframe frameborder="0" src="https://itch.io/embed/1261925" width="90%" height="20%"><a href="https://educacis.itch.io/simulatorhysics">Simulator by EducAcis</a></iframe>
    </a>
    <div class="texto-entrada">
        <h2></h2>
    </div>
    <h4>References:</h4>
    <p>
        • www.fisicalab.com<br>
        • Libro: FisicaUniversitaria-Sears-Zemansky Volumen 1<br>
        • FIS_IVMo_Guia-Estudio-Electrostática_2020.pdf (heinrich.cl)<br>
        • ¿Qué es la electrostatica? - Definición | ELECTROSTÁTICA<br>
    </p>
    <div class="texto-entrada">
        <h2></h2>
    </div>
</a>