@{
    ViewData["Title"] = "Challenge";
    Layout = "_Layout4";
}

<header class="site-header2 contenedor1">

    <h2>

        I challenge you to make a system that count of 0 from 5 on binary (digital secuential counter).
        <br> 
        Clue: the quantity necessary of exits for count until five is 3 (A,B,C)

    </h2>

</header>