@{
    ViewData["Title"] = "Challenge";
    Layout = "_Layout4";
}

<header class="site-header2 contenedor1">

    <h2>

        I challenge you to make one vehicular traffic light and pedestrian that are controlled by one button of priority. The pedestrian can press the button that have next rules:
        <br>
        1) If the traffic light vehicular be on red and the pedestrian press the button,  delay 2 units of time for the pedestrian can cross, the trafic light pass to green.
        <br>
        2) If the traffic light vehicular be on yellow and the pedestrian press the button this change to red at same time the pedestrian trafic light change to greem.
        <br>
        3) The vehicular traffic light are find in green the pedestrian press the button, this change to red ant the pedestrian traffic light change to green.

    </h2>

</header>