@{
    ViewData["Title"] = "Challenge";
    Layout = "_Layout4";
}

<header class="site-header2 contenedor1">

    <h2>

        I challenge you to make a dispense machine of juices who have 3 mouthpiece of supply of juices of apple, orange and grape. The machine have 3 buttons press of choice A,B,C.
        The rules of operative of the machine is next:
        <br>
        1) If not press any button of machine not give nothing.
        <br>
        2) If press more than one button the machine don't give nothing.
        <br>
        3) If press A the machine give 3 parts of juice of orange.
        <br>
        4) If press B the machine give one parts of juice of orange, one part of apple juice and one part of grape juice.
        <br>
        5) If press C the machine give two parts of apple and one part of grape juice.

    </h2>

</header>